<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Dashboard_After_Present.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

กำหนดช่วงวันที่จากคนละครึ่งทั้ง 4 เฟส ได้แก่
- เฟส 1 2020-10-23 ถึง 2020-12-31
- เฟส 2 2021-01-01 ถึง 2021-03-31
- เฟส 3 2021-10-01 ถึง 2021-10-16
- เฟส 4 2022-02-01 ถึง 2022-02-16

# *Data Covid

In [1]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [2]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Mounted at /content/drive

## ชุด 1 : 2020-01-12 ถึง 2021-08-11

In [3]:
data_file_path1 = os.path.join(path,'confirmed-cases.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path1)

/content/drive/My Drive/covid_data/confirmed-cases.xlsx

In [4]:
data_covid1 = pd.read_excel(data_file_path1)  #กำหนดตัวแปร data_covid1 เป็นข้อมูลของผู้ป่วยโควิด
data_covid1  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

## ชุด 2 :  2021-08-12 ถึง 2021-10-25

In [5]:
data_file_path2 = os.path.join(path,'confirmed-cases-since-120864.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path2)

/content/drive/My Drive/covid_data/confirmed-cases-since-120864.xlsx

In [6]:
data_covid2 = pd.read_excel(data_file_path2)  #กำหนดตัวแปร data_covid2 เป็นข้อมูลของผู้ป่วยโควิด
data_covid2  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## ชุด 3 :  2021-10-26 ถึง 2022-02-27

In [7]:
data_file_path3 = os.path.join(path,'confirmed-cases-since-271064.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path3)

/content/drive/My Drive/covid_data/confirmed-cases-since-271064.xlsx

In [8]:
data_covid3 = pd.read_excel(data_file_path3)  #กำหนดตัวแปร data_covid3 เป็นข้อมูลของผู้ป่วยโควิด
data_covid3  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## ชุด 4 :  2022-02-28 ถึง 2022-03-23

In [9]:
data_file_path4 = os.path.join(path,'confirmed-cases-since-280265.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path4)

/content/drive/My Drive/covid_data/confirmed-cases-since-280265.xlsx

In [10]:
data_covid4 = pd.read_excel(data_file_path4)  #กำหนดตัวแปร data_covid4 เป็นข้อมูลของผู้ป่วยโควิด
data_covid4  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ต่อตาราง ชุด 1 และ ชุด 2

In [11]:
covid1 = pd.concat([data_covid1,data_covid2])
covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ต่อตาราง ชุด 3 และ ชุด 4

In [12]:
covid2 = pd.concat([data_covid3,data_covid4])
covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ต่อตารางทั้ง 4 ชุด

In [15]:
covid_all = pd.concat([covid1,covid2])
covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [16]:
covid_new = covid_all[['No.','announce_date','sex','age','risk','province_of_onset']]
covid_new

,No.,announce_date,sex,age,risk,province_of_onset
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
554335,3423952,2022-03-23,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
554336,3423953,2022-03-23,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
554337,3423954,2022-03-23,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
554338,3423955,2022-03-23,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
554339,3423956,2022-03-23,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [17]:
covid_new.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_new
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                  False
announce_date        False
sex                   True
age                   True
risk                  True
province_of_onset     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [18]:
covid1_updated = covid_new.fillna(value={'No.':'ไม่ทราบ','announce_date':'ไม่ทราบ','sex':'ไม่ทราบ','age':'ไม่ทราบ','risk':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_new
covid1_updated # แสดงตาราง covid1_updated

,No.,announce_date,sex,age,risk,province_of_onset
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
554335,3423952,2022-03-23,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,NaN
554336,3423953,2022-03-23,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,NaN
554337,3423954,2022-03-23,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,NaN
554338,3423955,2022-03-23,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,NaN
554339,3423956,2022-03-23,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,NaN

In [19]:
covid_updated= covid1_updated.dropna() #ตัดค่าว่างออกของคอมลัมน์จังหวัด
covid_updated

,No.,announce_date,sex,age,risk,province_of_onset
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
554292,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร
554293,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร
554294,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร
554295,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร
554296,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [20]:
covid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                  False
announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

# *Data region

In [44]:
data_region = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

### ตาราง data6 : ข้อมูลภูมิภาคของประเทศไทย

In [45]:
region1 = pd.DataFrame.from_dict(data_region)   #กำหนดตัวแปร region1 เป็นข้อมูลภูมิภาคของประเทศไทย
region1 #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [46]:
region_updated = region1[['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
region_updated

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

# **ต่อตาราง data covid และ data region

In [47]:
covid_region = covid_updated.merge(region_updated,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ covid_updated และ region_updated
covid_region  #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...
3011258,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011259,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011260,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011261,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011262,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [48]:
covid_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง covid_region

In [50]:
covid_region_1 = covid_region.fillna(value={'6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region
covid_region_1 # แสดงตาราง covid_region_1

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...
3011258,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011259,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011260,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011261,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011262,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

In [51]:
covid_region_updated = covid_region_1.dropna() #ตัดค่าว่างออกของคอมลัมน์จังหวัด
covid_region_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...
3011258,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011259,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011260,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011261,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3011262,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [52]:
covid_region_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_region_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

# *Data รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [53]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [54]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
mohpromt = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(mohpromt)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

### ตาราง data_mohpromt : ข้อมูลรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [58]:
data_mohpromt = pd.read_excel(mohpromt)  #กำหนดตัวแปร data_mohpromt  เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
data_mohpromt #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [59]:
mohpromt1 = data_mohpromt[['ชื่อ','ประเภท','ตำบล','อำเภอ','จังหวัด']]
mohpromt1

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [60]:
mohpromt1.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง mohpromt1
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [61]:
mohpromt2 = mohpromt1.fillna(value={'ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ','จังหวัด':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง mohpromt1
mohpromt2 # แสดงตาราง mohpromt2

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [62]:
mohpromt2.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt2 หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล       False
อำเภอ      False
จังหวัด    False
dtype: bool

##ตัดข้อมูลที่ไม่ทราบจังหวัดออก

In [63]:
def nums(first_number, last_number, step=1): #ฟังก์ชั้นเรียกข้อมูลตามลำดับตั้งแต่เลขตัวแรกถึงตัวสุดท้ายโดยนับไปทีละ1
    return range(first_number, last_number+1, step) #ส่งข้อมูล

In [64]:
from pandas.core.indexes.base import Index #นำเข้า index

frames = [] #สร้างตัวเก็บข้อมูล

Index_province = Index(mohpromt2['จังหวัด']) #นำรายชื่อจังหวัดออกมา
Index_province = Index_province.drop('ไม่ทราบ') #เอาข้อมูลที่ไม่ปรากฏชื่อจังหวัดออก
Index_province = Index_province.drop_duplicates(keep='first') #โดยเก็บชื่อจังหวัดที่พบเป็นอันดับแรกไว้ที่ตัวแปร index_province

for i in nums(0, 76): #สร้างลูปให้ i เป็นเลขตั้งแต่ 0-76 คือแต่ละจังหวัดที่ 0-76 ของตาราง
  mp_province = mohpromt2[mohpromt2['จังหวัด'] == Index_province[i]] # ให้ mp_province คือ ตัวแปรที่แยกข้อมูล77จังหวัด
  mp_province = mp_province.head(1) # แยก mp_province ให้เหลือ 5 ข้อมูลแรกของแต่ละจังหวัด
  frames.append(mp_province) #นำข้อมูล 1 ข้อมูลของแต่ละจังหวัดเข้าไปไว้ใน frame

mohpromt_updated = pd.concat(frames) # รวมข้อมูล
mohpromt_updated # แสดงผล

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
1043,ชัยยงเภสัช,ร้านยา,กาฬสินธุ์,เมืองกาฬสินธุ์,กาฬสินธุ์
1185,เพรียว (Pure),ร้านยา,หญ้าปล้อง,เมืองศรีสะเกษ,ศรีสะเกษ
1518,แก้วอารีเภสัช,ร้านยา,บ้านนา,บ้านนา,นครนายก
1618,โพธิ์ทองโอสถ2,ร้านยา,เนินขาม,เนินขาม,ชัยนาท
2513,วัตสันฟาร์มาซี,ร้านยา,บางมัญ,เมืองสิงห์บุรี,สิงห์บุรี

# **ต่อตาราง data covid, data region และ data mohpromt

In [65]:
covid_region_mohpromt = covid_region_updated.merge(mohpromt_updated,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') 
#เชื่อมตาราง 2 ตาราง คือ covid_region_updated และ mohpromt_updated

covid_region_mohpromt #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
...,...,...,...,...,...,...,...,...,...,...,...,...
3005746,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3005747,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3005748,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3005749,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3005750,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [66]:
covid_region_mohpromt.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region_mohpromt
#เนื่องจากไม่มีค่า True แสดงว่าไม่มีค่าที่เป็น Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                      False
ประเภท                    False
ตำบล                      False
อำเภอ                     False
dtype: bool

# *เพิ่ม Latitude (ละติจูด) , Longitude (ลองจิจูด) เพื่อทำ map

In [67]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [68]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Map'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [69]:
map = os.path.join(path,'location.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(map)

/content/drive/My Drive/Map/location.xlsx

In [70]:
data_map = pd.read_excel(map)  #กำหนดตัวแปร data_map 
data_map  #เรียกดูตารางของแผนที่

          จังหวัด   Latitude   Longitude
0        นราธิวาส   5.927200  101.884500
1   กรุงเทพมหานคร  13.786690  100.605080
2       เชียงใหม่  18.811341   98.984177
3   นครศรีธรรมราช   8.407393   99.976526
4          ภูเก็ต   8.021930   98.338430
..            ...        ...         ...
72      กาฬสินธุ์  16.442592  103.508135
73       ศรีสะเกษ  15.120344  104.306625
74        นครนายก  14.262194  101.069667
75         ชัยนาท  14.952358   99.939476
76      สิงห์บุรี  14.905320  100.408360

[77 rows x 3 columns]

# **ต่อตาราง data covid,data region,data mohpromt

In [71]:
covid_region_mohpromt_map = covid_region_mohpromt.merge(data_map,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') 
#เชื่อมตาราง 2 ตาราง คือ covid_region_mohpromt และ data_map

covid_region_mohpromt_map #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม,13.81282,100.07484
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011973,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011974,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011975,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011976,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011977,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [74]:
data_dashboard = covid_region_mohpromt_map.dropna() #ตัดค่าว่างออก
data_dashboard

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
0,1,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
1,2,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
2,3,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม,13.81282,100.07484
3,4,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
4,5,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011973,3423909,2022-03-23,ชาย,59.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011974,3423910,2022-03-23,ชาย,42.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011975,3423911,2022-03-23,ชาย,60.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011976,3423912,2022-03-23,หญิง,21.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508
3011977,3423913,2022-03-23,ชาย,39.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.78669,100.60508

In [75]:
data_dashboard.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data_dashboard
#เนื่องจากไม่มีค่า True แสดงว่าไม่มีค่าที่เป็น Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                      False
ประเภท                    False
ตำบล                      False
อำเภอ                     False
Latitude                  False
Longitude                 False
dtype: bool

# ข้อมูลเฟส 1

In [77]:
Phase1 = data_dashboard[(data_dashboard['announce_date']>='2020-10-23') & (data_dashboard['announce_date']<='2020-12-31')]
Phase1

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
3662,3721,2020-10-23,หญิง,31.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
3663,3722,2020-10-23,ชาย,32.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก,ร้าน บู๊ทส์,ร้านยา,ศรีราชา,ศรีราชา,13.168710,100.932250
3664,3723,2020-10-23,ชาย,54.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,สมุทรปราการ,สมุทรปราการ,กลาง,ร้าน บู๊ทส์,ร้านยา,บางแก้ว,บางพลี,13.646786,100.680613
3665,3724,2020-10-23,ชาย,20.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
3666,3725,2020-10-23,หญิง,40.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6521,6880,2020-12-31,ชาย,42.0,Cluster ระยอง,ระยอง,ระยอง,ตะวันออก,บู๊ทส์,ร้านยา,เชิงเนิน,เมืองระยอง,12.696543,101.269252
6522,6881,2020-12-31,หญิง,39.0,Cluster ระยอง,ระยอง,ระยอง,ตะวันออก,บู๊ทส์,ร้านยา,เชิงเนิน,เมืองระยอง,12.696543,101.269252
6523,6883,2020-12-31,ชาย,54.0,Cluster ระยอง,ระยอง,ระยอง,ตะวันออก,บู๊ทส์,ร้านยา,เชิงเนิน,เมืองระยอง,12.696543,101.269252
6524,6884,2020-12-31,ชาย,56.0,Cluster ระยอง,ระยอง,ระยอง,ตะวันออก,บู๊ทส์,ร้านยา,เชิงเนิน,เมืองระยอง,12.696543,101.269252
6525,6885,2020-12-31,ชาย,70.0,Cluster ระยอง,ระยอง,ระยอง,ตะวันออก,บู๊ทส์,ร้านยา,เชิงเนิน,เมืองระยอง,12.696543,101.269252

# ข้อมูลเฟส 2

In [78]:
Phase2 = data_dashboard[(data_dashboard['announce_date']>='2021-01-01') & (data_dashboard['announce_date']<='2021-03-31')]
Phase2

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
124,125,2021-03-06,หญิง,55.0,Cluster ตลาดพรพัฒน์,ปทุมธานี,ปทุมธานี,กลาง,ร้านบู๊ทส์,ร้านยา,บึงคำพร้อย,ลำลูกกา,13.935973,100.737487
6526,6886,2021-01-01,หญิง,40.0,Cluster สมุทรสาคร,ปทุมธานี,ปทุมธานี,กลาง,ร้านบู๊ทส์,ร้านยา,บึงคำพร้อย,ลำลูกกา,13.935973,100.737487
6527,6887,2021-01-01,หญิง,21.0,Cluster ระยอง,ปทุมธานี,ปทุมธานี,กลาง,ร้านบู๊ทส์,ร้านยา,บึงคำพร้อย,ลำลูกกา,13.935973,100.737487
6528,6888,2021-01-01,หญิง,20.0,สถานบันเทิง,นครปฐม,นครปฐม,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม,13.812820,100.074840
6529,6889,2021-01-01,หญิง,47.0,Cluster สมุทรสาคร,นครปฐม,นครปฐม,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม,13.812820,100.074840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26314,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
26315,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
26316,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว,สระแก้ว,ตะวันออก,วาวาฟาร์มาซี,ร้านยา,สระแก้ว,เมืองสระแก้ว,13.832688,102.063773
26317,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก,ตาก,ตะวันตก,ร้าน บู๊ทส์,ร้านยา,แม่สอด,แม่สอด,16.723330,98.588230
26318,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส,นราธิวาส,ใต้,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,5.927200,101.884500

# ข้อมูลเฟส 3

In [80]:
Phase3 = data_dashboard[(data_dashboard['announce_date']>='2021-10-01') & (data_dashboard['announce_date']<='2021-10-16')]
Phase3

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
1390219,1603476,2021-10-01,หญิง,30.0,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.526198,100.302483
1390220,1603476,2021-10-01,หญิง,30.0,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.029781,99.926232
1390221,1603477,2021-10-01,หญิง,32.0,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.526198,100.302483
1390222,1603477,2021-10-01,หญิง,32.0,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.029781,99.926232
1390223,1603478,2021-10-01,หญิง,38.0,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ,บู๊ทส์,ร้านยา,เวียง,เมืองเชียงราย,19.905460,99.834120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538037,1772834,2021-10-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ขอนแก่น,ขอนแก่น,ตะวันออกเฉียงเหนือ,ต้นยาเภสัช,ร้านยา,บ้านเป็ด,เมืองขอนแก่น,16.457131,102.795328
1538038,1772835,2021-10-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
1538039,1772836,2021-10-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
1538040,1772837,2021-10-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
1538041,1772838,2021-10-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080

# ข้อมูลเฟส 4

In [81]:
Phase4 = data_dashboard[(data_dashboard['announce_date']>='2022-02-01') & (data_dashboard['announce_date']<='2022-02-16')]
Phase4

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ,Latitude,Longitude
2139214,2440543,2022-02-01,หญิง,35,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.526198,100.302483
2139215,2440543,2022-02-01,หญิง,35,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.029781,99.926232
2139216,2440544,2022-02-01,หญิง,19,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.526198,100.302483
2139217,2440544,2022-02-01,หญิง,19,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.029781,99.926232
2139218,2440545,2022-02-01,หญิง,8,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ,19.526198,100.302483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317577,2639058,2022-02-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
2317578,2639059,2022-02-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
2317579,2639060,2022-02-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
2317580,2639061,2022-02-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080
2317581,2639062,2022-02-16,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,13.786690,100.605080

# save file เพื่อทำ Dashboad

In [82]:
Phase1.to_csv('dashboad1.csv', encoding='utf-8')

In [83]:
Phase2.to_csv('dashboad2.csv', encoding='utf-8')

In [84]:
Phase3.to_csv('dashboad3.csv', encoding='utf-8')

In [85]:
Phase4.to_csv('dashboad4.csv', encoding='utf-8')

# ลิงค์ Dashboard
https://datastudio.google.com/reporting/ea6e46c9-1e34-4d70-98eb-91021087a551