<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Dashboad_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [22]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [23]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Data Covid
ต้องการข้อมูลของวันที่ 16 ธันวาคม 2020 - 31 มีนาคม 2021

## 2020-01-12 ถึง 2021-08-11

In [24]:
data1 = os.path.join(path,'confirmed-cases.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data1)

/content/drive/My Drive/covid_data/confirmed-cases.xlsx

In [45]:
data2 = pd.read_excel(data1)  #กำหนดตัวแปร data2 เป็นข้อมูลของผู้ป่วยโควิด
data2  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

## เลือกเอาเฉพาะข้อมูลวันที่ที่ต้องการ

In [46]:
data3 = data2[(data2['announce_date']>='2020-12-16') & (data2['announce_date']<='2021-03-31')]
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
124,125,2021-03-06,2021-03-05,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
4247,4248,2020-12-16,2020-12-14,หญิง,29.0,ปี,Thailand,ชลบุรี,State Quarantine,ชลบุรี,บางละมุง
4248,4249,2020-12-16,2020-12-15,หญิง,27.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,วัฒนา
4249,4250,2020-12-16,2020-12-15,ชาย,32.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,บางกะปิ
4250,4251,2020-12-16,2020-12-14,ชาย,28.0,ปี,Thailand,ชลบุรี,State Quarantine,ชลบุรี,บางละมุง
...,...,...,...,...,...,...,...,...,...,...,...
28858,28859,2021-03-31,2021-03-30,ชาย,35.0,ปี,Philippines,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองเตย
28859,28860,2021-03-31,2021-03-30,ชาย,63.0,ปี,Philippines,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองเตย
28860,28861,2021-03-31,2021-03-30,หญิง,34.0,ปี,Thailand,ตาก,State Quarantine,สระแก้ว,NaN
28861,28862,2021-03-31,2021-03-30,หญิง,22.0,ปี,Thailand,ตาก,State Quarantine,ตาก,แม่สอด
28862,28863,2021-03-31,2021-03-30,ชาย,17.0,ปี,Thailand,นราธิวาส,State Quarantine,นราธิวาส,รือเมาะ

เนื่องจากมีแถวของข้อมูลที่ไม่เรียงตามวันที่ จึงตัดออก เพื่อความเรียบร้อย

In [48]:
data4 = data3.iloc[1:24617,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2020-12-16 ถึง 2021-03-31
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
4247,4248,2020-12-16,2020-12-14,หญิง,29.0,ปี,Thailand,ชลบุรี,State Quarantine,ชลบุรี,บางละมุง
4248,4249,2020-12-16,2020-12-15,หญิง,27.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,วัฒนา
4249,4250,2020-12-16,2020-12-15,ชาย,32.0,ปี,Thailand,กรุงเทพมหานคร,State Quarantine,กรุงเทพมหานคร,บางกะปิ
4250,4251,2020-12-16,2020-12-14,ชาย,28.0,ปี,Thailand,ชลบุรี,State Quarantine,ชลบุรี,บางละมุง
4251,4252,2020-12-16,2020-12-15,ชาย,31.0,ปี,India,กรุงเทพมหานคร,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,ห้วยขวาง
...,...,...,...,...,...,...,...,...,...,...,...
28858,28859,2021-03-31,2021-03-30,ชาย,35.0,ปี,Philippines,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองเตย
28859,28860,2021-03-31,2021-03-30,ชาย,63.0,ปี,Philippines,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองเตย
28860,28861,2021-03-31,2021-03-30,หญิง,34.0,ปี,Thailand,ตาก,State Quarantine,สระแก้ว,NaN
28861,28862,2021-03-31,2021-03-30,หญิง,22.0,ปี,Thailand,ตาก,State Quarantine,ตาก,แม่สอด
28862,28863,2021-03-31,2021-03-30,ชาย,17.0,ปี,Thailand,นราธิวาส,State Quarantine,นราธิวาส,รือเมาะ

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [49]:
data5 = data4[['No.','announce_date','sex','age','risk','province_of_onset']]
data5

,No.,announce_date,sex,age,risk,province_of_onset
4247,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี
4248,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร
4249,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร
4250,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี
4251,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร
...,...,...,...,...,...,...
28858,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28859,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28860,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว
28861,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก
28862,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [51]:
data5.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data5
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                  False
announce_date        False
sex                   True
age                   True
risk                  True
province_of_onset     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [52]:
covid1_updated = data5.fillna(value={'No.':'ไม่ทราบ','announce_date':'ไม่ทราบ','sex':'ไม่ทราบ','age':'ไม่ทราบ','risk':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data5
covid1_updated # แสดงตาราง covid1_updated

,No.,announce_date,sex,age,risk,province_of_onset
4247,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี
4248,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร
4249,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร
4250,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี
4251,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร
...,...,...,...,...,...,...
28858,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28859,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28860,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว
28861,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก
28862,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส

In [53]:
covid_updated= covid1_updated.dropna() #ตัดค่าว่างออก
covid_updated

,No.,announce_date,sex,age,risk,province_of_onset
4247,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี
4248,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร
4249,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร
4250,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี
4251,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร
...,...,...,...,...,...,...
28858,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28859,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
28860,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว
28861,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก
28862,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [54]:
covid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                  False
announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

## **Data region

In [55]:
data6 = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

### ตาราง data6 : ข้อมูลภูมิภาคของประเทศไทย

In [56]:
data7 = pd.DataFrame.from_dict(data6)   #กำหนดตัวแปร data7 เป็นข้อมูลภูมิภาคของประเทศไทย
data7  #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [57]:
region_updated = data7[['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
region_updated

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

# ต่อตาราง data covid และ data region

In [58]:
covid_region = covid_updated.merge(region_updated,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ covid_updated และ region_updated
covid_region  #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก
1,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก
4,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...
22130,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
22131,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
22132,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว,สระแก้ว,ตะวันออก
22133,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก,ตาก,ตะวันตก
22134,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส,นราธิวาส,ใต้

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [59]:
covid_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [60]:
covid_region_updated = covid_region.fillna(value={'จังหวัด':'ไม่ทราบ','6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region
covid_region_updated # แสดงตาราง covid_region_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก
1,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
2,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
3,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก
4,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...
22130,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
22131,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
22132,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว,สระแก้ว,ตะวันออก
22133,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก,ตาก,ตะวันตก
22134,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส,นราธิวาส,ใต้

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [61]:
covid_region_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_region_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

## **Data รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [62]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [63]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [64]:
data8 = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data8)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

### ตาราง data9 : ข้อมูลรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [65]:
data9 = pd.read_excel(data8)  #กำหนดตัวแปร data9  เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
data9 #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [66]:
data10 = data9[['ชื่อ','ประเภท','ตำบล','อำเภอ','จังหวัด']]
data10

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [69]:
data10.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data10
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [75]:
data11 = data10.fillna(value={'ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ','จังหวัด':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data10
data11 # แสดงตาราง data11

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [76]:
data11.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง data11 หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล       False
อำเภอ      False
จังหวัด    False
dtype: bool

##ตัดข้อมูลที่ไม่ทราบจังหวัดออก

In [77]:
def nums(first_number, last_number, step=1): #ฟังก์ชั้นเรียกข้อมูลตามลำดับตั้งแต่เลขตัวแรกถึงตัวสุดท้ายโดยนับไปทีละ1
    return range(first_number, last_number+1, step) #ส่งข้อมูล

In [78]:
from pandas.core.indexes.base import Index #นำเข้า index

frames = [] #สร้างตัวเก็บข้อมูล

Index_province = Index(data11['จังหวัด']) #นำรายชื่อจังหวัดออกมา
Index_province = Index_province.drop('ไม่ทราบ') #เอาข้อมูลที่ไม่ปรากฏชื่อจังหวัดออก
Index_province = Index_province.drop_duplicates(keep='first') #โดยเก็บชื่อจังหวัดที่พบเป็นอันดับแรกไว้ที่ตัวแปร index_province

for i in nums(0, 76): #สร้างลูปให้ i เป็นเลขตั้งแต่ 0-76 คือแต่ละจังหวัดที่ 0-76 ของตาราง
  mp_province = data11[data11['จังหวัด'] == Index_province[i]] # ให้ mp_province คือ ตัวแปรที่แยกข้อมูล77จังหวัด
  mp_province = mp_province.head(1) # แยก mp_province ให้เหลือ 5 ข้อมูลแรกของแต่ละจังหวัด
  frames.append(mp_province) #นำข้อมูล 1 ข้อมูลของแต่ละจังหวัดเข้าไปไว้ใน frame

mohpromt_updated = pd.concat(frames) # รวมข้อมูล
mohpromt_updated # แสดงผล

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
1043,ชัยยงเภสัช,ร้านยา,กาฬสินธุ์,เมืองกาฬสินธุ์,กาฬสินธุ์
1185,เพรียว (Pure),ร้านยา,หญ้าปล้อง,เมืองศรีสะเกษ,ศรีสะเกษ
1518,แก้วอารีเภสัช,ร้านยา,บ้านนา,บ้านนา,นครนายก
1618,โพธิ์ทองโอสถ2,ร้านยา,เนินขาม,เนินขาม,ชัยนาท
2513,วัตสันฟาร์มาซี,ร้านยา,บางมัญ,เมืองสิงห์บุรี,สิงห์บุรี

# ต่อตาราง data covid, data region และ mohpromt

In [79]:
covid_region_mohpromt = covid_region_updated.merge(mohpromt_updated,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') 
#เชื่อมตาราง 2 ตาราง คือ covid_region_updated และ mohpromt_updated

covid_region_mohpromt #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก,ร้าน บู๊ทส์,ร้านยา,ศรีราชา,ศรีราชา
1,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
2,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก,ร้าน บู๊ทส์,ร้านยา,ศรีราชา,ศรีราชา
4,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
...,...,...,...,...,...,...,...,...,...,...,...,...
22130,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
22131,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
22132,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว,สระแก้ว,ตะวันออก,วาวาฟาร์มาซี,ร้านยา,สระแก้ว,เมืองสระแก้ว
22133,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก,ตาก,ตะวันตก,ร้าน บู๊ทส์,ร้านยา,แม่สอด,แม่สอด
22134,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส,นราธิวาส,ใต้,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [80]:
covid_region_mohpromt.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region_mohpromt
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                       True
ประเภท                     True
ตำบล                       True
อำเภอ                      True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [81]:
covid_region_mohpromt_updated = covid_region_mohpromt.fillna(value={'ชื่อ':'ไม่ทราบ','ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ'}) 
#แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region_mohpromt

covid_region_mohpromt_updated # แสดงตาราง covid_region_mohpromt_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,4248,2020-12-16,หญิง,29.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก,ร้าน บู๊ทส์,ร้านยา,ศรีราชา,ศรีราชา
1,4249,2020-12-16,หญิง,27.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
2,4250,2020-12-16,ชาย,32.0,State Quarantine,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
3,4251,2020-12-16,ชาย,28.0,State Quarantine,ชลบุรี,ชลบุรี,ตะวันออก,ร้าน บู๊ทส์,ร้านยา,ศรีราชา,ศรีราชา
4,4252,2020-12-16,ชาย,31.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
...,...,...,...,...,...,...,...,...,...,...,...,...
22130,28859,2021-03-31,ชาย,35.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
22131,28860,2021-03-31,ชาย,63.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
22132,28861,2021-03-31,หญิง,34.0,State Quarantine,สระแก้ว,สระแก้ว,ตะวันออก,วาวาฟาร์มาซี,ร้านยา,สระแก้ว,เมืองสระแก้ว
22133,28862,2021-03-31,หญิง,22.0,State Quarantine,ตาก,ตาก,ตะวันตก,ร้าน บู๊ทส์,ร้านยา,แม่สอด,แม่สอด
22134,28863,2021-03-31,ชาย,17.0,State Quarantine,นราธิวาส,นราธิวาส,ใต้,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [82]:
covid_region_mohpromt_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                      False
ประเภท                    False
ตำบล                      False
อำเภอ                     False
dtype: bool

# save file เพื่อทำ Dashboad

In [83]:
covid_region_mohpromt_updated.to_csv('dashboad_cutemonster.csv', encoding='utf-8')