<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Dashboad_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [49]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [50]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Data Covid
ต้องการข้อมูลของวันที่ 1 มกราคม 2021 - 11 มีนาคม 2022

## 2021-10-26 ถึง 2022-02-27

In [51]:
data1 =  os.path.join(path,'confirmed-cases-since-271064.xlsx') #แล้วก็ชี้ไปที(data1)
print(data1)

/content/drive/My Drive/covid_data/confirmed-cases-since-271064.xlsx

In [52]:
data2 = pd.read_excel(data1)  #กำหนดตัวแปร data1_1 เป็นข้อมูลของผู้ป่วยโควิด
data2 #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [53]:
data2[data2['announce_date']=='2022-01-01'] #เพื่อดูว่าข้อมูลที่เราต้องการเริ่มที่ low ที่เท่าไหร่

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364278,2223436,2022-01-01,2021-12-31,ชาย,39,ปี,Thailand,พะเยา,อื่นๆ,พะเยา,ดอกคำใต้
364279,2223437,2022-01-01,2021-12-31,หญิง,39,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364280,2223438,2022-01-01,2021-12-31,ชาย,64,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364281,2223439,2022-01-01,2021-12-31,ชาย,27,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
364282,2223440,2022-01-01,2021-12-31,หญิง,35,ปี,Thailand,พะเยา,อยู่ระหว่างการสอบสวน,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
367284,2226442,2022-01-01,2021-12-31,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
367285,2226443,2022-01-01,2021-12-31,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
367286,2226444,2022-01-01,2021-12-31,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
367287,2226445,2022-01-01,2021-12-31,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
367288,2226446,2022-01-01,2021-12-31,หญิง,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [54]:
data3 = data2.iloc[364278:1010458,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2022-01-01 ถึง 2022-02-27
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364278,2223436,2022-01-01,2021-12-31,ชาย,39,ปี,Thailand,พะเยา,อื่นๆ,พะเยา,ดอกคำใต้
364279,2223437,2022-01-01,2021-12-31,หญิง,39,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364280,2223438,2022-01-01,2021-12-31,ชาย,64,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364281,2223439,2022-01-01,2021-12-31,ชาย,27,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
364282,2223440,2022-01-01,2021-12-31,หญิง,35,ปี,Thailand,พะเยา,อยู่ระหว่างการสอบสวน,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
1010453,2869611,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## 2022-02-28 ถึง 2022-03-23

In [55]:
data4 = os.path.join(path,'confirmed-cases-since-280265.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data4) #เรียกดูตารางของผู้ป่วยโควิด

/content/drive/My Drive/covid_data/confirmed-cases-since-280265.xlsx

In [56]:
data5 = pd.read_excel(data4)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data5  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [57]:
data5[data5['announce_date']=='2022-03-11'] #เพื่อดูว่าข้อมูลที่เราต้องการควรตัดที่ low ที่เท่าไหร่

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
242241,3111858,2022-03-11,2022-03-10,หญิง,29.0,ปี,NaN,เชียงใหม่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,เมืองเชียงใหม่
242242,3111859,2022-03-11,2022-03-10,หญิง,18.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
242243,3111860,2022-03-11,2022-03-10,หญิง,28.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,หางดง
242244,3111861,2022-03-11,2022-03-10,หญิง,51.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
242245,3111862,2022-03-11,2022-03-10,หญิง,43.0,ปี,NaN,เชียงใหม่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย
...,...,...,...,...,...,...,...,...,...,...,...
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267032,3136649,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [58]:
data6 = data5.iloc[0:267032,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2022-02-28 ถึง 2022-03-11
data6

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
267027,3136644,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ต่อตาราง data3 และ data6


เพื่อที่จะได้วันที่ ต้องการข้อมูลของวันที่ 1 มกราคม 20212 - 11 มีนาคม 2022

In [59]:
covid = pd.concat([data3,data6])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
364278,2223436,2022-01-01,2021-12-31,ชาย,39,ปี,Thailand,พะเยา,อื่นๆ,พะเยา,ดอกคำใต้
364279,2223437,2022-01-01,2021-12-31,หญิง,39,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364280,2223438,2022-01-01,2021-12-31,ชาย,64,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ดอกคำใต้
364281,2223439,2022-01-01,2021-12-31,ชาย,27,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
364282,2223440,2022-01-01,2021-12-31,หญิง,35,ปี,Thailand,พะเยา,อยู่ระหว่างการสอบสวน,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
267027,3136644,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [60]:
data_covid = covid[['No.','announce_date','sex','age','risk','province_of_onset']]
data_covid

,No.,announce_date,sex,age,risk,province_of_onset
364278,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา
364279,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364280,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364281,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364282,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา
...,...,...,...,...,...,...
267027,3136644,2022-03-11,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
267028,3136645,2022-03-11,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
267029,3136646,2022-03-11,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
267030,3136647,2022-03-11,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
267031,3136648,2022-03-11,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [61]:
data_covid.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data_covid
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                  False
announce_date        False
sex                   True
age                   True
risk                  True
province_of_onset     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [62]:
covid_updated = data_covid.fillna(value={'No.':'ไม่ทราบ','announce_date':'ไม่ทราบ','sex':'ไม่ทราบ','age':'ไม่ทราบ','risk':'ไม่ทราบ','province_of_onset':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data_covid
covid_updated # แสดงตาราง covid_updated

,No.,announce_date,sex,age,risk,province_of_onset
364278,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา
364279,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364280,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364281,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา
364282,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา
...,...,...,...,...,...,...
267027,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ
267028,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ
267029,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ
267030,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ
267031,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [63]:
covid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                  False
announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

## **Data region

In [64]:
data7 = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

### ตาราง data8 : ข้อมูลภูมิภาคของประเทศไทย

In [65]:
data8 = pd.DataFrame.from_dict(data7)   #กำหนดตัวแปร data8 เป็นข้อมูลภูมิภาคของประเทศไทย
data8   #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [66]:
region_updated = data8[['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
region_updated

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

# ต่อตาราง data covid และ data region

In [67]:
covid_region = covid_updated.merge(region_updated,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ covid_updated และ region_updated
covid_region  #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา,พะเยา,เหนือ
1,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
2,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
3,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
4,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา,พะเยา,เหนือ
...,...,...,...,...,...,...,...,...
913207,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,NaN,NaN
913208,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,NaN,NaN
913209,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,NaN,NaN
913210,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,NaN,NaN
913211,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [68]:
covid_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [69]:
covid_region_updated = covid_region.fillna(value={'จังหวัด':'ไม่ทราบ','6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region
covid_region_updated # แสดงตาราง covid_region_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา,พะเยา,เหนือ
1,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
2,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
3,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ
4,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา,พะเยา,เหนือ
...,...,...,...,...,...,...,...,...
913207,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913208,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913209,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913210,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913211,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [70]:
covid_region_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_region_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

#### ตัดข้อมูลที่ไม่ทราบจังหวัดออก

## **Data รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [71]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [72]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [73]:
data9 = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data9)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

### ตาราง data10 : ข้อมูลรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [74]:
data10 = pd.read_excel(data9)  #กำหนดตัวแปร data10  เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
data10  #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [75]:
data11 = data10[['ชื่อ','ประเภท','ตำบล','อำเภอ','จังหวัด']]
data11

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [76]:
data11.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data11
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [77]:
data12 = data11.fillna(value={'ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ','จังหวัด':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data11
data12 # แสดงตาราง mohpromt_updated

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [78]:
data12.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล       False
อำเภอ      False
จังหวัด    False
dtype: bool

##ตัดข้อมูลที่ไม่ทราบจังหวัดออก

In [79]:
def nums(first_number, last_number, step=1): #ฟังก์ชั้นเรียกข้อมูลตามลำดับตั้งแต่เลขตัวแรกถึงตัวสุดท้ายโดยนับไปทีละ1
    return range(first_number, last_number+1, step) #ส่งข้อมูล

In [94]:
from pandas.core.indexes.base import Index #นำเข้า index

frames = [] #สร้างตัวเก็บข้อมูล

Index_province = Index(data12['จังหวัด']) #นำรายชื่อจังหวัดออกมา
Index_province = Index_province.drop('ไม่ทราบ') #เอาข้อมูลที่ไม่ปรากฏชื่อจังหวัดออก
Index_province = Index_province.drop_duplicates(keep='first') #โดยเก็บชื่อจังหวัดที่พบเป็นอันดับแรกไว้ที่ตัวแปร index_province

for i in nums(0, 76): #สร้างลูปให้ i เป็นเลขตั้งแต่ 0-76 คือแต่ละจังหวัดที่ 0-76 ของตาราง
  mp_province = data12[data12['จังหวัด'] == Index_province[i]] # ให้ mp_province คือ ตัวแปรที่แยกข้อมูล77จังหวัด
  mp_province = mp_province.head(1) # แยก mp_province ให้เหลือ 5 ข้อมูลแรกของแต่ละจังหวัด
  frames.append(mp_province) #นำข้อมูล 1 ข้อมูลของแต่ละจังหวัดเข้าไปไว้ใน frame

mohpromt_updated = pd.concat(frames) # รวมข้อมูล
mohpromt_updated # แสดงผล

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
1043,ชัยยงเภสัช,ร้านยา,กาฬสินธุ์,เมืองกาฬสินธุ์,กาฬสินธุ์
1185,เพรียว (Pure),ร้านยา,หญ้าปล้อง,เมืองศรีสะเกษ,ศรีสะเกษ
1518,แก้วอารีเภสัช,ร้านยา,บ้านนา,บ้านนา,นครนายก
1618,โพธิ์ทองโอสถ2,ร้านยา,เนินขาม,เนินขาม,ชัยนาท
2513,วัตสันฟาร์มาซี,ร้านยา,บางมัญ,เมืองสิงห์บุรี,สิงห์บุรี

# ต่อตาราง data covid, data region และ mohpromt

In [95]:
covid_region_mohpromt = covid_region_updated.merge(mohpromt_updated,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') 
#เชื่อมตาราง 2 ตาราง คือ covid_region_updated และ mohpromt_updated

covid_region_mohpromt #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
1,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
2,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
3,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
4,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
...,...,...,...,...,...,...,...,...,...,...,...,...
913207,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
913208,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
913209,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
913210,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
913211,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [96]:
covid_region_mohpromt.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region_mohpromt
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                       True
ประเภท                     True
ตำบล                       True
อำเภอ                      True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [97]:
covid_region_mohpromt_updated = covid_region_mohpromt.fillna(value={'ชื่อ':'ไม่ทราบ','ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ'}) 
#แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region_mohpromt

covid_region_mohpromt_updated # แสดงตาราง covid_region_mohpromt_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,2223436,2022-01-01,ชาย,39,อื่นๆ,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
1,2223437,2022-01-01,หญิง,39,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
2,2223438,2022-01-01,ชาย,64,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
3,2223439,2022-01-01,ชาย,27,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
4,2223440,2022-01-01,หญิง,35,อยู่ระหว่างการสอบสวน,พะเยา,พะเยา,เหนือ,ยาพัชรินทร์,ร้านยา,หย่วน,เชียงคำ
...,...,...,...,...,...,...,...,...,...,...,...,...
913207,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913208,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913209,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913210,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
913211,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [98]:
covid_region_mohpromt_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                      False
ประเภท                    False
ตำบล                      False
อำเภอ                     False
dtype: bool

# save file เพื่อทำ Dashboad

In [100]:
covid_region_mohpromt_updated.to_csv('dashboad_verynew.csv', encoding='utf-8')