<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/dataviz_dashboad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [2]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [3]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Mounted at /content/drive

## **Data Covid
ต้องการข้อมูลของวันที่ 1 ตุลาคม 2021 - 31 ธันวาคม 2021

## 2021-10-26 ถึง 2022-02-27

In [4]:
data1 = os.path.join(path,'confirmed-cases-since-271064.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data1)

/content/drive/My Drive/covid_data/confirmed-cases-since-271064.xlsx

In [5]:
data2 = pd.read_excel(data1)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data2  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## เลือกเอาเฉพาะข้อมูลวันที่ที่ต้องการ

In [6]:
data3 = data2[(data2['announce_date']>='2021-10-01') & (data2['announce_date']<='2021-12-31')]
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
364273,2223431,2021-12-31,2021-12-30,หญิง,NaN,NaN,NaN,ระนอง,ทัณฑสถาน/เรือนจำ,ระนอง,NaN
364274,2223432,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,สตูล,ทัณฑสถาน/เรือนจำ,สตูล,NaN
364275,2223433,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,ปทุมธานี,NaN
364276,2223434,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
364277,2223435,2021-12-31,2021-12-30,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [7]:
data4 = data3[['No.','announce_date','sex','age','risk','province_of_onset']]
data4

,No.,announce_date,sex,age,risk,province_of_onset
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง
...,...,...,...,...,...,...
364273,2223431,2021-12-31,หญิง,NaN,ทัณฑสถาน/เรือนจำ,ระนอง
364274,2223432,2021-12-31,ชาย,NaN,ทัณฑสถาน/เรือนจำ,สตูล
364275,2223433,2021-12-31,ชาย,NaN,ทัณฑสถาน/เรือนจำ,ปทุมธานี
364276,2223434,2021-12-31,ชาย,NaN,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
364277,2223435,2021-12-31,ชาย,NaN,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [16]:
data4.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data4
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                  False
announce_date        False
sex                   True
age                   True
risk                  True
province_of_onset     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [31]:
covid1_updated = data4.fillna(value={'No.':'ไม่ทราบ','announce_date':'ไม่ทราบ','sex':'ไม่ทราบ','age':'ไม่ทราบ','risk':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data4
covid1_updated # แสดงตาราง covid1_updated

,No.,announce_date,sex,age,risk,province_of_onset
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง
...,...,...,...,...,...,...
364273,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง
364274,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล
364275,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี
364276,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
364277,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร

In [35]:
covid_updated= covid1_updated.dropna() #ตัดค่าว่างออก
covid_updated

,No.,announce_date,sex,age,risk,province_of_onset
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง
...,...,...,...,...,...,...
364273,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง
364274,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล
364275,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี
364276,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
364277,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [36]:
covid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                  False
announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

## **Data region

In [37]:
data5 = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

### ตาราง data6 : ข้อมูลภูมิภาคของประเทศไทย

In [38]:
data6 = pd.DataFrame.from_dict(data5)   #กำหนดตัวแปร data6 เป็นข้อมูลภูมิภาคของประเทศไทย
data6   #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [39]:
region_updated = data6[['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
region_updated

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

# ต่อตาราง data covid และ data region

In [40]:
covid_region = covid_updated.merge(region_updated,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ covid_updated และ region_updated
covid_region  #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง,ลำปาง,เหนือ
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง,ลำปาง,เหนือ
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,ลำปาง,เหนือ
...,...,...,...,...,...,...,...,...
328484,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง,ระนอง,ใต้
328485,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล,สตูล,ใต้
328486,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปทุมธานี,กลาง
328487,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
328488,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [41]:
covid_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [42]:
covid_region_updated = covid_region.fillna(value={'จังหวัด':'ไม่ทราบ','6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region
covid_region_updated # แสดงตาราง covid_region_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง,ลำปาง,เหนือ
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง,ลำปาง,เหนือ
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,ลำปาง,เหนือ
...,...,...,...,...,...,...,...,...
328484,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง,ระนอง,ใต้
328485,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล,สตูล,ใต้
328486,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปทุมธานี,กลาง
328487,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
328488,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [43]:
covid_region_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_region_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

## **Data รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [44]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [45]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
data7 = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data7)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

### ตาราง data8 : ข้อมูลรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [47]:
data8 = pd.read_excel(data7)  #กำหนดตัวแปร data8  เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
data8  #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [49]:
data9 = data8[['ชื่อ','ประเภท','ตำบล','อำเภอ','จังหวัด']]
data9

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [50]:
data9.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data9
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [51]:
data10 = data9.fillna(value={'ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ','จังหวัด':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data9
data10 # แสดงตาราง data10

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [52]:
data10.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล       False
อำเภอ      False
จังหวัด    False
dtype: bool

##ตัดข้อมูลที่ไม่ทราบจังหวัดออก

In [53]:
def nums(first_number, last_number, step=1): #ฟังก์ชั้นเรียกข้อมูลตามลำดับตั้งแต่เลขตัวแรกถึงตัวสุดท้ายโดยนับไปทีละ1
    return range(first_number, last_number+1, step) #ส่งข้อมูล

In [54]:
from pandas.core.indexes.base import Index #นำเข้า index

frames = [] #สร้างตัวเก็บข้อมูล

Index_province = Index(data10['จังหวัด']) #นำรายชื่อจังหวัดออกมา
Index_province = Index_province.drop('ไม่ทราบ') #เอาข้อมูลที่ไม่ปรากฏชื่อจังหวัดออก
Index_province = Index_province.drop_duplicates(keep='first') #โดยเก็บชื่อจังหวัดที่พบเป็นอันดับแรกไว้ที่ตัวแปร index_province

for i in nums(0, 76): #สร้างลูปให้ i เป็นเลขตั้งแต่ 0-76 คือแต่ละจังหวัดที่ 0-76 ของตาราง
  mp_province = data10[data10['จังหวัด'] == Index_province[i]] # ให้ mp_province คือ ตัวแปรที่แยกข้อมูล77จังหวัด
  mp_province = mp_province.head(1) # แยก mp_province ให้เหลือ 5 ข้อมูลแรกของแต่ละจังหวัด
  frames.append(mp_province) #นำข้อมูล 1 ข้อมูลของแต่ละจังหวัดเข้าไปไว้ใน frame

mohpromt_updated = pd.concat(frames) # รวมข้อมูล
mohpromt_updated # แสดงผล

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
1043,ชัยยงเภสัช,ร้านยา,กาฬสินธุ์,เมืองกาฬสินธุ์,กาฬสินธุ์
1185,เพรียว (Pure),ร้านยา,หญ้าปล้อง,เมืองศรีสะเกษ,ศรีสะเกษ
1518,แก้วอารีเภสัช,ร้านยา,บ้านนา,บ้านนา,นครนายก
1618,โพธิ์ทองโอสถ2,ร้านยา,เนินขาม,เนินขาม,ชัยนาท
2513,วัตสันฟาร์มาซี,ร้านยา,บางมัญ,เมืองสิงห์บุรี,สิงห์บุรี

# ต่อตาราง data covid, data region และ mohpromt

In [55]:
covid_region_mohpromt = covid_region_updated.merge(mohpromt_updated,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') 
#เชื่อมตาราง 2 ตาราง คือ covid_region_updated และ mohpromt_updated

covid_region_mohpromt #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...,...
328484,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง,ระนอง,ใต้,ร้านยาระนองธานี,ร้านยา,เขานิเวศน์,เมืองระนอง
328485,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล,สตูล,ใต้,คลินิกหมอสุทธินนท์,คลินิก,กำแพง,ละงู
328486,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปทุมธานี,กลาง,ร้านบู๊ทส์,ร้านยา,บึงคำพร้อย,ลำลูกกา
328487,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
328488,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [56]:
covid_region_mohpromt.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region_mohpromt
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                       True
ประเภท                     True
ตำบล                       True
อำเภอ                      True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [57]:
covid_region_mohpromt_updated = covid_region_mohpromt.fillna(value={'ชื่อ':'ไม่ทราบ','ประเภท':'ไม่ทราบ','ตำบล':'ไม่ทราบ','อำเภอ':'ไม่ทราบ'}) 
#แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region_mohpromt

covid_region_mohpromt_updated # แสดงตาราง covid_region_mohpromt_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),ชื่อ,ประเภท,ตำบล,อำเภอ
0,1859158,2021-10-26,ชาย,20,อื่นๆ,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
1,1859159,2021-10-26,หญิง,42,อื่นๆ,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
2,1859160,2021-10-26,หญิง,33,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
3,1859161,2021-10-26,หญิง,52,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
4,1859162,2021-10-26,หญิง,84,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,ลำปาง,เหนือ,ร้าน บู๊ทส์,ร้านยา,สวนดอก,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...,...
328484,2223431,2021-12-31,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ระนอง,ระนอง,ใต้,ร้านยาระนองธานี,ร้านยา,เขานิเวศน์,เมืองระนอง
328485,2223432,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,สตูล,สตูล,ใต้,คลินิกหมอสุทธินนท์,คลินิก,กำแพง,ละงู
328486,2223433,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ปทุมธานี,ปทุมธานี,กลาง,ร้านบู๊ทส์,ร้านยา,บึงคำพร้อย,ลำลูกกา
328487,2223434,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
328488,2223435,2021-12-31,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [58]:
covid_region_mohpromt_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง mohpromt_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
ชื่อ                      False
ประเภท                    False
ตำบล                      False
อำเภอ                     False
dtype: bool

# save file เพื่อทำ Dashboad

In [60]:
covid_region_mohpromt_updated.to_csv('dashboad_A.csv', encoding='utf-8')