<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Final_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [49]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [50]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/ovrdt data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# ข้อมูลชุดที่ 1 : hospital_list.xlsx

In [51]:
data1 = os.path.join(path,'hospital_list.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data1)

/content/drive/My Drive/ovrdt data/hospital_list.xlsx

In [52]:
data2 = pd.read_excel(data1)  #กำหนดตัวแปร data2 เป็นข้อมูล ไฟล์ hospital_list.xlsx
data2  #เรียกดูตารางของข้อมูล ไฟล์ hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [53]:
data3= data2[['hcode','name','zone_name','province','amphur','tambon','name5']]
data3

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

## ตรวจสอบค่า missing

In [54]:
data3.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

## แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data4

In [55]:
data4= data3.fillna(value={'name':'ไม่ทราบ','zone_name':'ไม่ทราบ','amphur':'ไม่ทราบ','tambon':'ไม่ทราบ','name5':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data3
data4 # แสดงตาราง data4

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [56]:
data4.isnull().any()

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

# ข้อมูลชุดที่ 2 : alldb.csv

In [57]:
data5 = os.path.join(path,'alldb.csv') #แล้วก็ชี้ไปที่ไฟล์
print(data5)

/content/drive/My Drive/ovrdt data/alldb.csv

In [58]:
data6 = pd.read_csv(data5)  #กำหนดตัวแปร data6 เป็นข้อมูล ไฟล์ alldb.csv
data6  #เรียกดูตารางของข้อมูล ไฟล์ alldb.csv

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [59]:
data7= data6[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title','age']]
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ตรวจดู type ของข้อมูล และดูจำนวน missing ในแต่ละตัวแปร

In [60]:
data7.dtypes    # ดู type ของข้อมูล

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
title           object
age             object
dtype: object

In [61]:
data7.isnull().sum()     # sum ดูจำนวนของค่า missing

user            762
RowKey            1
date            554
phone             3
site             99
time            557
urine           253
ov              364
PartitionKey    185
title           444
age             542
dtype: int64

## เปลี่ยน Type Data

In [62]:
import numpy as np

### User 
เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [63]:
data7 = data7[(data7['user'].astype(str).str.isdigit())& (data7['user'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าค่าใดที่เป็นตัวเลข # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

### RowKey 
เป็น String

In [64]:
data7['RowKey'] = data7['RowKey'].astype('str')
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

### date 
เป็น YYYY-MM-DD

In [65]:
data7['date'] = pd.to_datetime(data7['date'])    # format = "%d/%m/%Y" 
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [66]:
data7['date'] = data7[['date']].fillna(method="ffill")      # เติมค่าว่างของวันที่ด้วยค่าก่อนหน้าหรือค่าข้างบน
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,2022-03-10,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

### phone 
เป็น String

In [67]:
data7['phone'] = data7['phone'].astype('str')
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,2022-03-10,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

### site 
เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [68]:
data7 = data7 [(data7 ['site'].astype(str).str.isdigit())& (data7['user'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าค่าใดที่เป็นตัวเลข # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

### time 
เป็น hh-mm-ss

In [69]:
data7['time'] = data7['time'].replace(':','-',regex=True) # กำหนดรูปแบบของ time เป็น hh-mm-ss
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10-50-32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10-14-46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11-14-21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10-14-32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17-39-35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,NaN

### urine 
เป็น String

In [70]:
data7['urine'] = data7['urine'].astype('str')
data7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10-50-32,nan,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10-14-46,nan,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11-14-21,nan,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10-14-32,nan,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17-39-35,nan,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,NaN

### ov 
เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [71]:
set(data7['ov']) # ดูข้อมูลของคอลัมน์ ov

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [72]:
data7['ov'] = pd.to_numeric(data7['ov'], errors='coerce') # errors='coerce' คือ ถ้าไม่เจอตัวเลขจะเปลี่ยนเป็นค่าว่าง
data7= data7.replace(np.nan, 0, regex=True) # เปลี่ยนจากค่าว่างให้เป็น 0
data7['ov'] = data7['ov'].astype(int) # เปลี่ยน type ของ ov ให้เป็น int

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [73]:
set(data7['ov']) # ดูข้อมูลของคอลัมน์ ov อีกครั้ง

{0, 1, 2, 3, 4}

### PartitionKey 
เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [74]:
data7 = data7[(data7['PartitionKey'].astype(str).str.isdigit())& (data7['PartitionKey'].str.len() == 5)]    #.str.isdigit ใช้เพื่อตรวจสอบว่าค่าใดที่เป็นตัวเลข # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,0,0

## แก้ไขคอลัมน์ที่เหลือ

### title

In [75]:
set(data7['title']) # ดู set ของข้อมูลในตาราง data7 ในคอลัมน์ title

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 0,
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [76]:
data7 = data7.rename(columns={'title':'sex'})  # เปลี่ยนชื่อคอลัมน์ title เป็น sex
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,0,0

In [77]:
# ทำข้อมูลในตาราง data7 ในคอลัมน์ title ให้เหมือนกัน
data7['sex'].replace({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 0:'ไม่ระบุ',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ไม่ระบุ',
 'น':'ไม่ระบุ',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ไม่ระบุ',
 'พระ':'ไม่ระบุ',
 'พระครุ':'ไม่ระบุ',
 'พระปลัด':'ไม่ระบุ',
 'พลฯ':'ไม่ระบุ',
 'ร.ต.':'ไม่ระบุ',
 'ร.ต.ต.':'ไม่ระบุ',
 'ร.ต.ท.':'ไม่ระบุ',
 'ร.ต.อ.':'ไม่ระบุ',
 'รต.':'ไม่ระบุ',
 'ว่าที่ ร.ต.':'ไม่ระบุ',
 'ว่าที่ ร.ท.':'ไม่ระบุ',
 'ว่าที่ร้อยตรี':'ไม่ระบุ',
 'ส.อ.':'ไม่ระบุ',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย',
 'เด็กหญิง':'หญิง'}, inplace=True)

In [78]:
set(data7['sex']) # ดูข้อมูลในคอลัมน์ sex

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [79]:
data7['sex'] = data7[['sex']].fillna('ไม่ระบุ') # เติมค่าว่างของ sex ด้วย 'ไม่ระบุ'
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0

### age

In [80]:
data7['age'] = data7['age'].astype(float).astype('Int64') #เปลี่ยน float ให้เป็น Int64

In [81]:
data8 = data7['age'].mean() # หาอายุเฉลี่ย
data8

53.2428742639779

In [82]:
data7.isnull().sum() # ดูจำนวนของค่า missing

user            0
RowKey          0
date            0
phone           0
site            0
time            0
urine           0
ov              0
PartitionKey    0
sex             0
age             0
dtype: int64

In [83]:
set(data7['age']) # ดูข้อมูลของคอลัมน์ age

{-5789,
 -5441,
 -233,
 -37,
 -32,
 -29,
 0,
 1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 127,
 138,
 151,
 312,
 315,
 507,
 590,
 591,
 1052,
 2030,
 2046,
 2051,
 2057,
 2063}

In [84]:
data7['age'].replace({-5789:54,
 -5441:54,
 -233:54,
 -37:54,
 -32:54,
 -29:54,
 0:54,
 127:54,
 138:54,
 151:54,
 312:54,
 315:54,
 507:54,
 590:54,
 591:54,
 1052:54,
 2030:54,
 2046:54,
 2051:54,
 2057:54,
 2063:54}, inplace=True)

In [85]:
data7

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,54
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,54
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,54
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,54
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54

In [86]:
data7.isnull().sum() # ดูค่า missing

user            0
RowKey          0
date            0
phone           0
site            0
time            0
urine           0
ov              0
PartitionKey    0
sex             0
age             0
dtype: int64

In [87]:
data7.dtypes    #ดู type ของข้อมูล

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                       int64
PartitionKey            object
sex                     object
age                      Int64
dtype: object

In [88]:
data7  #ตารางใหม่ของ data7 (ล่าสุด)

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,54
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,54
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,54
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,54
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54

# รวมข้อมูลที่ 1 และข้อมูลที่ 2

In [89]:
alldb_hospital = data7.merge(data4,how='left', left_on='site',right_on='hcode') #เชื่อมตาราง 2 ตาราง คือ data7 และ data4
alldb_hospital

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า missing

In [90]:
alldb_hospital .isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
age             False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
name5            True
dtype: bool

## ดูจำนวน missing ในแต่ละตัวแปร

In [91]:
alldb_hospital .isnull().sum()

user             0
RowKey           0
date             0
phone            0
site             0
time             0
urine            0
ov               0
PartitionKey     0
sex              0
age              0
hcode           76
name            76
zone_name       76
province        76
amphur          76
tambon          76
name5           76
dtype: int64

## แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง alldb_hospital

In [92]:
alldb_hospital_updated = alldb_hospital.fillna(value={'hcode':'ไม่ระบุ','name':'ไม่ระบุ','zone_name':'ไม่ระบุ','province':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง alldb_hospital
alldb_hospital_updated # แสดงตาราง alldb_hospital_updated

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [93]:
alldb_hospital_updated.isnull().sum() # ดูค่าว่าง

user            0
RowKey          0
date            0
phone           0
site            0
time            0
urine           0
ov              0
PartitionKey    0
sex             0
age             0
hcode           0
name            0
zone_name       0
province        0
amphur          0
tambon          0
name5           0
dtype: int64

In [94]:
alldb_hospital_updated.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
age             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
name5           False
dtype: bool

# ตารางที่จะทำ Dashboard

In [95]:
alldb_hospital_updated

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

# save file เพื่อทำ Dashboad

In [96]:
alldb_hospital_updated.to_csv('Final_Dashboard.csv', encoding='utf-8')

# ลิงค์ Dashboard
https://datastudio.google.com/reporting/45b1b540-79ca-4b15-b6c5-f1a3a2308f8e